<!DOCTYPE html>
<html>
<head>
  <title>Agendo | Help others help you</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" /> 
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
<div id="header">
    <div id="sign_in">
        <% if current_user %>
            Welcome <%= current_user.name %>
            <%= link_to "Sign Out", signout_path %>
        <% else %>
            <%= link_to "Sign in with Twitter", "/auth/twitter" %>
            <%= link_to "Sign in with Facebook", "/auth/facebook" %>
        <% end %>
    </div>

</div>
<div id="flash">
    <% unless flash.blank? %>
        <div id="messages">
            <% flash.each do |key, msg| %>
                <%= content_tag(:div, msg, :class => "#{key} message", :id => "#{key}_message") %>
            <% end %>
        </div>
    <% end %>
</div>
<%= yield %>

</body>
</html>
